name: CI workflow
on:
  push:
    branches:
      - "main"
  pull_request:
    branches:
      - "main"
jobs:
  checkout:
    runs-on: ubuntu_latest
    container: python:3.9-slim
    steps:
      - name: Checkout the code
        uses: actions/checkout@v3
  install_dependencies:
    needs: checkout
    runs-on: ubuntu_latest
    container: python:3.9-slim
    steps:
      - name: Install dependencies
        run: |
          python -m pip install --upgrade pip
          pip install -r requirements.txt